[metadata]
name = gluing-matrix-validation
version = 0.0.0
description = Gluing matrix SVD validation

[options]
packages = find:
package_dir =
    = src
install_requires =
    numpy
    scipy
    pandas
    matplotlib

[options.packages.find]
where = src
